:root{
    --vermelho: #e50914;
    --preto: #141414;
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--branco);
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    border: 1px solid --branco;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}