:root{
    --vermelho: #e50914;
    --preto: #141414;
    --branco: #fff;
    --cinza: #aaa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*NAV*/

.img-perfil{
    width: 25px;
    border-radius: 5px;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.categorias a{
    text-decoration: none;
    color: var(--branco);
    margin-left: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .navegacao a{
    text-decoration: none;
    color: var(--branco);
}

header .container{
    margin-left: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .busca-e-perfil{
    display: flex;
}

nav .perfil{
    margin-right: 10px;
    align-items: center;
}

body{
    background-color: var(--preto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}

header .container{
    border: 1px solid --branco;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

header nav a{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
    font-size: 20px;
}

header nav a:hover{
    color: var(--branco);
}

/*MANGA PRINCIPAL*/

.manga-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/onepunchmancover.jpg');
    
    height: 800px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.manga-principal .descricao{
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
}

.botao-manga-principal{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer; 
    transition: .5s ease all;
       
}

.botao-manga-principal:hover{
    background-color: white;
    color: black;
}

.botao-manga-principal i{
    margin-right: 8px;
}

.manga-principal .container{
    width: 50%;
    margin-left: 50px;
}

.box-manga{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-mangas{
    margin-top: 5px;
}

/*FOOTER*/

.footer{
    background-color: var(--preto);
    height: 500px;
}

.footer .icones{
    display: flex;
    flex-direction: row;
    margin-left: 275px;
    margin-top: 100px;
    justify-content: space-around;
    width: 250px;
}

.footer .icones a{
    font-size: 35px;
    color: grey;
}

.opcoes a{

    text-decoration: none;
    color: #fff;
    size: 50px;
}

.footer .opcoes{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    padding: 30px;
}

.footer .opcoes a:hover{
    text-decoration: underline white;
}

.opcoes-texto a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
}

.posicao-botao button{
    margin-left: 285px;
    background-color: var(--preto);
    border: none;
    color: white;
    border: 1px solid white;
    padding: 15px 15px;
    margin-right: 15px;
    font-size: 15px;

    cursor: pointer; 
    transition: .5s ease all;
}